body {
	background-color: black;
}
h1 {
	color:rgba(255,50,255,1);
	font-family:arial,serif;
	font-size:40px;
	font-weight:bold;
	font-style:uppercase;
	text-align:center;
}
h2 {
	color:white;
	background:#f33b3b;
}