body {
	background-color: black;
	background-image: "images/montblanc_white_cap_black.png";
	background-repeat: none;
	background-attachment: fixed;
	background-position: center;
	margin: auto;
}
h1 {
	color:rgba(255,255,255,1);
	font-family:arial,serif;
	font-size:40px;
	font-weight:bold;
	font-style:uppercase;
	text-align:center;
}
p {
	color:white;
	background:rgba(0,0,0,1);
	text-align: center;
}
img {
	position:relative;
 	left:30%;
 	
	
}