@import url(https://fonts.googleapis.com/css?family=Montserrat);
* { margin:0; padding:0; box-sizing:border-box; }
body {
	background-color: white;
	font-family: 'Montserrat';
	font-size: 20px;
}
nav {
	background-color: black;
	list-style-type: none;
	text-decoration: none;
	float: left;
    display: block;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}
nav a{
	font-style: none;
	font-size: .8em;
	float: left;
	color: white;
	text-align: center;
	padding: .7em 2.4em;
	margin-left: 2.8em;
	text-decoration: none;
}
header{
	border: .05em black solid;
	margin-bottom: 1.5em;
    padding: .05em;
    position: relative;
    top: 2em;
}
header img{
	border: .05em black solid;
	padding: .25em;
	position: relative;
	left: 41.5%;
	top: .5em;
	width: 25%;
	min-width: 200px;
}
header h2{
	border: .05em black solid;
	padding: .25em;
	position: relative;
	left: 39%;
	top: -.25em;
	width: 30%;
	text-align: center;
	font-size: .8em;
}
#summit {
	border: .05em black solid;
	padding: .25em;
	margin: auto;
	position: relative;
	top: .25em;
}
#productscarousel {
	background-color: white;
	border: .05em black solid;
	padding: .25em;
	float: left;
	width: 42%;
	min-width: 350px;
}
#productscarousel img {
	width: 99%;
	min-width: 350px;
}
#mbviewcarousel {
	background-color: white;
	border: .05em black solid;
	padding: .25em;
	float: right;
	width: 42%;
	min-width: 350px;
}
#mbviewcarousel img {
	width: 99%;
	min-width: 350px;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}
#prodcutsmenu {
	display: block;
	position: relative;
	top: 1.45em
	margin: 2em;
	border: .05em black solid;
    padding: .5em;
}
#prodcutsmenu h3{
	border: .05em black solid;
    padding: .5em;
    margin: 2em;
    display: block;
    width: 5em;
    position: relative;
    left: 46%;
    text-align: center;
	font-size: .8em;
}
.collections {
	border: .05em black solid;
    padding: .5em;
    display: inline;
    position: relative;
    left: .5%;
    width: 14.1%;
    min-width: 150px;
}
#watches {
	border: .05em black solid;
}
#watches h3{
	border: .05em black solid;
	padding: .5em;
	position: relative;
    left: 45%;
    display: block;
    width: 4.4em;
    text-align: center;
	font-size: .8em;
}
#first {
	border: .05em black solid;
	margin: .5em auto;
	/* left: 3%; */
	width: 80.5%;
	align: center;
}
.watchfamilies {
	border: .05em black solid;
	padding: 1%;
	float: left;
	width: 20%;
}
#smallsecond {
	border: .05em black solid;
    padding: .5em;
}
#smallsecond h3{
	border: .05em black solid;
	padding: .5em;
	margin: 2em auto;
	display: block;
	width: 30em;
	text-align: center;
	font-size: .8em;
}
span {
	color: red;
}
#smallsecond div{
	border: .05em black solid;
	padding: .5em;
	max-width: 17em;
	margin: 0 auto 2em;
}
#watchwindow {

}
#watchdescription {
	line-height: 2em
	text-align: center;
	font-size: .8em;
	display: block;
}
#watchimage {
	width: 30%;
	min-width: 200px;
	display: block;
	margin: auto;
}
#mbworld {
	display: block;
	border: .05em black solid;
	padding: 10px;
	clear: both;
}
#mbworld h3{
	border: .05em black solid;
    padding: 10px;
    margin: 2em;
    display: block;
    width: 15.5%;
    position: relative;
    left: 40%;
    text-align: center;
	font-size: .8em;
}
#styleguidecarousel {
	border: .05em black solid;
    padding: 5px;
    display: inline-block;
}
.styleguide {
	width: 30%;
}
#scoialmediahud {
	border: .05em black solid;
    padding: 5px;
    display: inline-block;
}
#boutiquelocator {
	display: block;
	border: .05em black solid;
    padding: 20px;
}
#boutiquelocator ul{
	border: .05em black solid;
    padding: 5px;
    display: block;
    list-style-type: none;
    float: left;
}
#mapofboutiques {
	border: .05em black solid;
    padding: 5px;
    display: block;
    float: right;
    width: 600px;
    height: 700px;
}
#mapofboutiques div{
	border: .05em black solid;
    padding: 5px;
    display: inline-block;
}
footer {
	border: .05em black solid;
	display: block;
    padding: 20px;
}
#contactme {
	position:relative;
	background-color: black
	color: white;
}
@media screen and (max-width: 400px) {
	nav {

	}
	nav a {
		padding: .7em 2em;
		margin-left: 2.4em;
	}
	header{
    position: relative;
    top: 2em;
	}
	header img{
	position: relative;
	left: 20.5%;
	top: .5em;
	}
	header h2{
	position: relative;
	left: 29%;
	top: -.25em;
	width: 35%;
	}
	#productscarousel {
		position: relative;
		left: -1.4%;
	}
	#mbviewcarousel {
		position: relative;
		left: 1.5%;
	}
	#prodcutsmenu h3 {
		position: relative;
		left: 27.6%;
	}
	.collections {
		position: relative;
		left: 1%;
	}
	#watches h3 {
		position: relative;
		left: 40%;
	}
	.watchfamilies {
		position: relative;
		left: 1.9%;
	}




}
