@import url(https://fonts.googleapis.com/css?family=Montserrat);
body {
	background-color: white;
	font-family: 'Montserrat';
}
div#wrapper {

}
nav {
	background-color: #E8C66A;
	display: block;
	  border: 1px black solid;
    padding: 20px;
}
#headmenu {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;
    display: block;
    position: fixed;
    top: 0;
    width: 58%;
    z-index: 1;
}
.menuanchor {
	font-style: none;
	float: left;
	display: inline;
	color: black;
	text-align: center;
	padding: 14px 16px;
	margin-left: 30px
	text-decoration: none;
}
.menuanchor:hover {
	display: block;
	background-color:black;
	color: white;
	text-align: center;
	padding: 14px 16px;
	margin-left: 30px;
	text-decoration: none;
}
header {
	display: block;
	background-color: #FFED74;
	position: relative;
	top: 39px;
	border: 1px black solid;
    padding: 20px;
}
#carouselgroup {
	display: block;
	background-color: #FFE2B8;
	position: relative;
	top: 19px
	margin: 1em;
	border: 1px black solid;
    padding: 20px;;
}
div#productscarousel {
	display: inline-block;
}
div#mbworldcarousel {
	display:inline-block;
}
#prodcutsmenu {
	display: block;
	background-color: #FFE2B8;
	position: relative;
	top: 19px
	margin: 2em;
	border: 1px black solid;
    padding: 20px;
}
div#pmgroup {
	width:20%;
	display: inline;
}
#mbworld {
	display: block;
	background-color: #FFE2B8;
	position: relative;
	top: -17px;
	left: -16px;
	width: 74.5em;
	margin: 1em;
	border: 1px black solid;
    padding: 20px;
}
#boutiquelocator {
	display: block;
	background-color: #FFE2B8;
	position: relative;
	width; 
	top: -40px;
	border: 1px black solid;
    padding: 20px;
}
footer {
	display: block;
	background-color: #FF957E;
	position: relative;
	top: -65px;border: 1px black solid;
    padding: 20px;
}
#contactme {
	position:relative;
	background-color: black
	color: white;
}



