@import url(https://fonts.googleapis.com/css?family=Montserrat);
body {
	background-color: white;
	font-family: 'Montserrat';
}
nav {
	background-color: blue;
	display: block;
}
#headmenu {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;
    display: block;
    position: fixed;
    top: 0;
    width: 58%;
    z-index: 1;
}
.menuanchor {
	font-style: none;
	float: left;
	display: inline;
	color: black;
	text-align: center;
	padding: 14px 16px;
	margin-left: 30px
	text-decoration: none;
}
.menuanchor:hover {
	display: block;
	background-color:black;
	color: white;
	text-align: center;
	padding: 14px 16px;
	margin-left: 30px;
	text-decoration: none;
}
header {
	display: block;
	background-color: blue;
	position: relative;
	top: 39px;
}
#welcomecarousel {
	display: block;
	background-color: orange;
	position: relative;
	top: 19px
}
div#carouselgroup {
	display: inline-block;
}
div#productscarousel {
	display: inline-block;
}
div#mbworldcarousel {
	display:inline-block;
}
#prodcutsmenu {
	display: block;
	background-color: green;
	position: relative;
	top: 19px
	margin: 2em;
	padding: 2em;
}
div#pmgroup {
	width:20%;
	display: inline;
}
#mbworld {
	display: block;
	background-color: purple;
}
#boutiquelocator {
	display: block;
	background-color: yellow
}




